@import "../../modules/all";
@import "../../modules/colors";

.log-in-box {
  margin: 150px auto;
}

.log-in-box> .form-header> div {
  margin-bottom: 30px;
}

.log-in-box .input-big {
  margin-bottom: 30px;
}

.log-in-box .flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.log-in-box button {
  margin: 0;
  background: none;
  border: 1px solid $font-color-main;
  font-size: 1.2rem;
  color: $font-color-main;

  &:hover {
    border: 1px solid $page-color-second;
    cursor: pointer;
  }
}

.log-in-box a {
  text-decoration: none;
  color: $font-color-main;
}