@import "../../modules/all";
@import "../../modules/colors";

.contact-container {
  display: flex;
  background-image: url("../../../assets/footer_bg_img.jpg");
  background-size: cover;
  height: 956px;
  justify-content: flex-end;
}

.form-box {
  margin: 200px 50px;
  width: 500px;
}

.form-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-header h1 {
  font-size: $page-font-big;
  color: $font-color-main;
}

.form-header div {
  background-image: url("../../../assets/decoration.png");
  @include decoration;
}

.form-box h3 {
  color: $font-color-main;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.form-box .inputs-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.inputs-box input, .form-box input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $font-color-main;
  background: none;
  font-size: 1.2rem;
}

.form-box .input-big {
  margin-top: 25px;
  width: 100%;
}

.form-box button {
  display: block;
  margin: 25px auto;
  background: none;
  width: 120px;
  height: 60px;
  border: 1px solid $font-color-main;
  font-size: 1.2rem;
  color: $font-color-main;
}


