@import "../../modules/all";
@import "../../modules/colors";

.header-section-box {
  margin-left: 1050px;
  margin-top: 150px;
  width: 700px;
}

.header-section-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-section-title h1 {
  font-size: 2.3rem;
  font-weight: 300;
  color: $font-color-main;
  margin-bottom: 20px;
}

.header-section-decoration {
  @include decoration();
  background-image: url("../../../assets/decoration.png");
}

.header-section-call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.header-section-call-to-action button {
  @include large-button;
}



.header-section-call-to-action button:first-child {
  padding: 0 20px;

  &:hover {

    cursor: pointer;
    background: $page-color-second;
  }
}

.header-section-call-to-action button:last-child {
  padding: 0 10px;
}

.cta-link {
  text-decoration: none;
  color: $font-color-main;
}
