@import "../../../styles/variables";

.logged-view-container {
  width: 100%;
  height: 800px;
  @include no-select-effects;
  background-image: url("../../../assets/header_logged_img.jpg");
  background-repeat: no-repeat;
}

.logged-view-login ul, .logged-view-nav ul {
  display: flex;
  justify-content: flex-end;
}

.logged-view-login li {
  list-style: none;
  margin-right: 10px;
}

.logged-view-login, .logged-view-nav {
  padding-top: 50px;
  padding-right: 100px;
}

.logged-view-login span {
  font-size: $page-font-medium;
  color: $font-color-main;
  padding-right: 20px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.logged-view-login li {
  text-decoration: none;
  color: $font-color-main;
  font-size: $page-font-medium;

  &:hover {
    cursor: auto;
  }
}

.logged-view-dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 105px;
  border: 1px solid $font-color-main;
  position: absolute;
  right: 20px;
  top: 40px;
}

.logged-view-dropdown-menu li {
  font-size: 1.2rem;
  text-align: right;
  margin: 10px;
  background: #ffffff;

}

.logged-view-nav li {
  list-style: none;
}

.logged-view-nav a {
  font-size: 1.2em;
  text-decoration: none;
  color: $font-color-main;
  padding: 10px 30px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $font-color-main;
    cursor: pointer;
  }
}

.logged-view-call-to-action {
  width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-left: 1000px;
  font-weight: lighter;
}

.logged-view-call-to-action h1, .logged-view-call-to-action span {
  font-size: 2.3rem;
  color: $font-color-main;
  margin-bottom: 20px;
}

.logged-view-call-to-action-decoration {
  background-image: url("../../../assets/decoration.png");
  @include decoration;
  margin-bottom: 30px;
}

.logged-view-call-to-action span {
  text-transform: uppercase;
  margin-bottom: 0;
}

.logged-view-boxes {
  display: flex;
  margin-top: 30px;
}

.logged-view-boxes div {
  width: 135px;
  height: 135px;
  border: 1px solid $font-color-main;
  transform: rotate(45deg);
  position: relative;
  margin: 20px;
}

.logged-view-boxes div p:last-of-type {
  transform: rotate(-45deg);
  position: absolute;
  top: 45px;
  left: -6px;
  color: $font-color-main;
  font-size: $page-font-medium;
  text-align: center;
}

.logged-view-boxes div p:first-of-type {
  transform: rotate(-45deg);
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: $page-font-medium;
  color: $font-color-main;


}

.info-bar {
  background: $page-color-second;
  padding: 40px 300px;
}

.info-bar h1 {
  font-size: $page-font-big;
  color: #000000;
  margin-bottom: 10px;
}

.info-bar p {
  font-size: $page-font-medium;
  color: #000000;
}