@import "../../styles/variables";

.section-about {
  height: 910px;
  background: $page-color-main;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-about-text-box {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.section-about-text-box h1 {
  font-size: $page-font-big;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: $font-color-main;
}

.section-about-text-box div {
  @include decoration;
  background-image: url("../../assets/decoration.png");
  margin-bottom: 20px;
}

.section-about-text-box p {
  font-size: $page-font-medium;
  margin-bottom: 20px;
  color: $font-color-main;
}

.section-about-image-box {
  width: 50%;
  height: 90%;
  background: url("../../assets/about.jpg");
}
