@import "../../styles/variables";

.contact-container {
  display: flex;
}

.contact-image-box {
  background-image: url("../../assets/footer_bg_img.jpg");
  height: 956px;
  background-repeat: no-repeat;
  width: 1563px;
}

.contact-form-box {
  width: 1600-956px;
  background: #EFF1F0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}

.contact-form-box h1 {
  font-size: $page-font-big;
  color: $font-color-main;
}

.contact-form-box .decoration {
  background-image: url("../../assets/decoration.png");
  @include decoration;
}


