@import "../../../../styles/variables";

.header-section-box {
  margin-left: 1000px;
  margin-top: 300px;
}

.header-section-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-section-title h1 {
  font-size: $page-font-big;
  font-weight: 300;
  color: $font-color-main;
  margin-bottom: 20px;
}

.header-section-decoration {
  @include decoration();
  background-image: url("../../../../assets/decoration.png");
}

.header-section-call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.header-section-call-to-action button {
  @include large-button;
}

.header-section-call-to-action button:first-child {
  padding: 0 20px;
}

.header-section-call-to-action button:last-child {
  padding: 0 10px;
}