@import "../../modules/all";
@import "../../modules/colors";

.form-container {
  height: 790px;
  background-image: url("../../../assets/header_logged_teddy.jpg");
  background-repeat: no-repeat;
  background-position-x: 1000px;
  background-position-y: 120px;
}

.form-app-header {
  margin: 40px 300px;
}

.form-app-header span {
  color: $font-color-main;
  font-size: $page-font-medium;
}

.form-app-header h1 {
  font-size: $page-font-big;
  margin-top: 40px;
}

.form-one {
  margin: 40px 300px;
}

.form-one label {
  @include form-label;
}

.form-one input {
  @include form-input;
}

.checkmark {
  @include form-checkmark;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-one input:checked ~.checkmark:after {
  display: block;
}

.form-one .checkmark:after {
  @include form-checkmark-indicator;
}

.form-one button {
  @include form-button;
}