$container-width: 1600px;

$page-font-big: 2.5rem;
$page-font-medium: 1.5rem;
$page-font-small: 1.2rem;

@mixin decoration() {
  width: 253px;
  height: 33px;
  margin-top: 40px;
}

@mixin large-button() {
  width: 300px;
  height: 120px;
  font-size: 2.3em;
  font-weight: 300;
  color: $font-color-main;
  text-transform: uppercase;
  background: #ffffff;
  border: 1px solid $font-color-main;
}

@mixin no-select-effects() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin form-label() {
  display: block;
  position: relative;
  padding-left: 60px;
  margin-bottom: 50px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

@mixin form-input() {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@mixin form-checkmark() {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border: 1px solid $font-color-main;
}

@mixin form-checkmark-indicator() {
  left: 15px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid $font-color-main;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@mixin form-button() {
  color: $font-color-main;
  font-size: $page-font-medium;
  background: none;
  width: 150px;
  height: 75px;
  border: 1px solid $font-color-main;
  margin-top: 40px;
}